
.works{
    &-items{
        display: flex;
        &-date{
            display: inline-block;
            width: 70%;
        }
        a{ 
            display: inline-block;
            width: 20%;
        }
    }
}
