@charset "UTF-8";
body {
  color: #333;
  font-family: 'Lato', 'Noto Sans JP', 'ヒラギノ角ゴ ProN', 'Hiragino Kaku Gothic ProN', 'メイリオ', Meiryo, 'ＭＳ Ｐゴシック', 'MS PGothic', sans-serif;
}

.container {
  max-width: 100%;
}

.container p {
  margin-bottom: 0.5em;
}

.header {
  max-width: 100%;
}

.content {
  margin-left: 50px;
  max-width: calc(100% - 50px);
}

.main-cover {
  margin-bottom: 30px;
}

.main-cover img {
  width: 100%;
  height: auto;
  border-radius: 10px 0 0 10px;
  -webkit-box-shadow: 0 0 10px #1a2b3452;
          box-shadow: 0 0 10px #1a2b3452;
}

.global-nav {
  position: fixed;
  top: 50%;
  left: 0;
  z-index: 100;
  height: 100%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  text-align: center;
  -webkit-writing-mode: vertical-rl;
      -ms-writing-mode: tb-rl;
          writing-mode: vertical-rl;
}

.global-nav__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  list-style: none;
}

.global-nav__item a {
  text-decoration: none;
  color: cornsilk;
  background-color: gray;
  border-radius: 0px 10px 10px 0;
  margin-bottom: 30px;
  padding: 10px 15px 10px 10px;
  font-size: 15px;
}

.card {
  margin-bottom: 30px;
  padding: 20px;
  -webkit-box-shadow: 0 0 10px #e8e8e8;
          box-shadow: 0 0 10px #e8e8e8;
  border-radius: 10px 0 0 10px;
}

.sub-ti {
  text-align: center;
  border-bottom: 1px solid #333;
  margin-bottom: 1em;
  font-size: 28px;
}

.item-ti {
  color: #333333;
  font-weight: normal;
  font-size: 24px;
  margin-bottom: 0.3em;
}

.about-dis li {
  list-style: none;
}

.about-dis-data {
  margin-bottom: 1.5em;
}

.skill-dis {
  margin-bottom: 1.5em;
}

.skill-dis-ti {
  font-size: 20px;
  color: dimgray;
}

.works-items img {
  display: block;
  margin: 0 auto;
  width: 100px;
}

.works-items-data {
  margin-bottom: 1em;
}

.works-items-data-dis {
  margin-bottom: 0.5em;
}

.works-items-data-skl {
  color: dimgray;
}

.card-last {
  margin-bottom: 0px;
  padding: 20px;
  -webkit-box-shadow: 0 0 10px #e8e8e8;
          box-shadow: 0 0 10px #e8e8e8;
  border-radius: 10px 0 0 0px;
}

.contact-copyright {
  text-align: center;
  font-size: 10px;
}

.pagetop a {
  color: #f4edd3;
  text-decoration: none;
  position: fixed;
  left: 0;
  bottom: 0;
  padding: 30px 12px;
  background-color: gray;
  border-radius: 0 10px 0 0;
}

.footer {
  display: none;
}

.footer-log {
  max-width: 100%;
}

.copyright {
  display: none;
  text-align: center;
  font-size: 10px;
}

@media (min-width: 600px) {
  .works-items {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .works-items-date {
    display: inline-block;
    width: 70%;
  }
  .works-items a {
    display: inline-block;
    width: 20%;
  }
}

@media (min-width: 1000px) {
  .header {
    display: block;
    margin: 0 auto;
  }
  .container {
    width: 100%;
  }
  .content {
    max-width: 900px;
    margin: 50px auto 0;
    display: block;
  }
  .main-cover {
    margin-bottom: 60px;
  }
  .main-cover img {
    width: 100%;
    height: auto;
    border-radius: 30px;
    -webkit-box-shadow: 0 0 10px #1a2b3452;
    box-shadow: 0 0 10px #1a2b3452;
  }
  .global-nav {
    height: 100vh;
    width: auto;
  }
  .global-nav__item a {
    border-radius: 0px 20px 20px 0;
    margin-bottom: 50px;
    padding: 20px;
    font-size: 20px;
  }
  .global-nav__item a:hover {
    padding-right: 30px;
    -webkit-transition: 0.3s ease;
    transition: 0.3s ease;
  }
  .card {
    margin-bottom: 60px;
    padding: 60px;
    -webkit-box-shadow: 0 0 10px #e8e8e8;
    box-shadow: 0 0 10px #e8e8e8;
    border-radius: 30px;
  }
  .sub-ti {
    font-size: 2.5em;
    font-weight: lighter;
    text-align: left;
    border-bottom: 2px solid #333;
    margin-bottom: 1em;
  }
  .about-dis {
    width: auto;
    height: auto;
    margin-bottom: 2em;
  }
  .about-dis li {
    margin-bottom: 2em;
    display: -webkit-inline-box;
    display: -ms-inline-flexbox;
    display: inline-flex;
    width: 100%;
  }
  .about-dis-ti {
    width: 20%;
  }
  .about-dis-data {
    margin-bottom: 0;
    width: 60%;
    font-size: 1.3em;
  }
  .skill-dis {
    margin-bottom: 2em;
  }
  .skill-dis-ti {
    font-size: 20px;
    color: gray;
    margin-bottom: 1em;
  }
  .skill-dis-data {
    font-size: 1.3em;
  }
  .works-items-data {
    font-size: 1.3em;
  }
  .card-last {
    margin-bottom: 50px;
    padding: 60px;
    -webkit-box-shadow: 0 0 10px #e8e8e8;
            box-shadow: 0 0 10px #e8e8e8;
    border-radius: 30px;
  }
  .contact-copyright {
    display: none;
  }
  .pagetop a {
    color: #f4edd3;
    text-decoration: none;
    position: fixed;
    left: 0;
    bottom: 0;
    padding: 45px 20px;
    background-color: gray;
    border-radius: 0 30px 0 0;
  }
  .footer {
    display: block;
    margin: 10px auto;
  }
  .footer-log {
    display: block;
    margin: 10px auto;
    max-width: 100%;
  }
  .copyright {
    display: block;
    text-align: center;
    font-size: 10px;
  }
}
/*# sourceMappingURL=style.css.map */